config main 'settings'
    option wait_for_wan '0'
    option wait_for_wan_max '90'
    option delayed_boot '0'
    option delayed_boot_value '10'
    option skip_environment_checks '0'
    option mihomo_persistent_ext_rules '0'
    option mihomo_persistent_cache '0'
    option ntpd_start '0'
    option dnsmasq_apply_changes '1'
    option nft_apply_changes '1'
    option pbr_priority '169'
    option nft_apply_changes_router '1'
    option nft_quic_mode 'REJECT'
    option nft_dot_mode 'BY RULES'
    option nft_doh_mode 'BY RULES'
    option nft_dot_quic_mode 'BY RULES'
    option nft_ntp_mode 'BY RULES'
    option nft_ntp_mode_router 'BY RULES'
    option tproxy_input_interfaces 'br-lan'
    list nft_ports_exclude '6881'
    option mihomo_core_source_type 'github'
    option mihomo_github_repo 'MetaCubeX/mihomo'
    option mihomo_github_channel 'stable'
    option mihomo_custom_core_url ''
    option mihomo_rulesets_files_download_url 'https://cdn.jsdelivr.net/gh/saltymonkey/mrs-parsed-data'
    option mihomo_dashboard_zashboard_url 'https://github.com/Zephyruso/zashboard/releases/latest/download/dist-no-fonts.zip'
    option mihomo_dashboard_metacubexd_url 'https://github.com/MetaCubeX/metacubexd/archive/refs/heads/gh-pages.zip'
    option mihomo_dashboard_yacd_meta_url 'https://github.com/MetaCubeX/Yacd-meta/archive/refs/heads/gh-pages.zip'
    option mihomo_autorestart '0'
    option mihomo_cron_autorestart_string '0 5 * * 0'

config proxy 'proxy'
    option controller_bind_interface 'lan'
    option use_dashboard '0'
    option dashboard_repo 'metacubexd'
    option api_password 'abcdefghijklmnopqrstuvwxyz1234567890'
    option log_level 'warning'
    option tproxy_port '7893'
    option use_mixed_port '0'
    option mixed_port '1080'
    option unified_delay '1'
    option tcp_concurrent '1'
    option global_ua 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/150.0.0.0 Safari/537.36'
    option etag_support '1'
    option keep_alive_idle '15'
    option keep_alive_interval '15'
    option profile_store_selected '1'
    option profile_store_fake_ip '1'
    option core_ntp_enabled '1'
    option core_ntp_server '194.190.168.1'
    option core_ntp_port '123'
    option core_ntp_interval '60'
    option core_ntp_write_system '1'
    option dns_listen_port '7894'
    option dns_cache_max_size '2048'
    option use_system_hosts '0'
    option fake_ip_range '198.18.0.1/16'
    option fake_ip_ttl '60'
    list nameserver_policy '+.cbr.ru/195.208.4.1'
    list nameserver_policy '+.fsb.ru/195.208.4.1'
    list nameserver_policy '+.fsrar.ru/195.208.4.1'
    list nameserver_policy '+.gosuslugi.ru/195.208.4.1'
    list nameserver_policy '+.emias.info/195.208.4.1'
    list nameserver_policy '+.gov.ru/195.208.4.1'
    list nameserver_policy '+.gu-st.ru/195.208.4.1'
    list nameserver_policy '+.kremlin.ru/195.208.4.1'
    list nameserver_policy '+.mos.ru/195.208.4.1'
    list nameserver_policy '+.mosreg.ru/195.208.4.1'
    list nameserver_policy '+.nalog.ru/195.208.4.1'
    list nameserver_policy '+.goskey.ru/195.208.4.1'
    list nameserver_policy '+.rosreestr.ru/195.208.4.1'
    list nameserver_policy '+.sfr.ru/195.208.4.1'
    list nameserver_policy '+.sudrf.ru/195.208.4.1'
    list nameserver_policy '+.egais.ru/195.208.4.1'
    list nameserver_policy '+.crpt.ru/195.208.4.1'
    list nameserver_policy '+.crpt.tech/195.208.4.1'
    list nameserver_policy '+.xn--80ajghhoc2aj1c8b.xn--p1ai'
    list nameserver_policy '+.vetrf.ru/195.208.4.1'
    list nameserver_policy '+.mironline.ru/77.88.8.8'
    list nameserver_policy '+.nspk.ru/77.88.8.8'
    list nameserver_policy '+.sbp.ru/77.88.8.8'
    list nameserver_policy '+.ts.polaris-iot.com/77.88.8.8'
    list nameserver_policy '+.platformaofd.ru/77.88.8.8'
    list nameserver_policy '+.1ofd.ru/77.88.8.8'
    list nameserver_policy '+.taxcom.ru/77.88.8.8'
    list nameserver_policy '+.ofd.ru/77.88.8.8'
    list nameserver_policy '+.astralofd.ru/77.88.8.8'
    list nameserver_policy '+.konturofd.ru/77.88.8.8'
    list nameserver_policy '+.dreamkas.ru/77.88.8.8'
    list nameserver_policy '+.e-portal.ru/77.88.8.8'
    list nameserver_policy '+.arbitr.ru/195.208.4.1'
    list nameserver_policy '+.polaris-iot.com/77.88.8.8'
    list nameserver_policy '+.rustore.ru/77.88.8.8'
    list nameserver_policy '+.rutube.ru/77.88.8.8'
    list nameserver_policy '+.rtbcdn.ru/77.88.8.8'
    list nameserver_policy '+.rutubelist.ru/77.88.8.8'
    list default_nameserver 'tls://185.222.222.222'
    list default_nameserver 'tls://45.11.45.11'
    list proxy_server_nameserver 'https://doh.dns.sb/dns-query'
    list proxy_server_nameserver 'https://dns.sb/dns-query'
    list nameserver 'https://1.1.1.1/dns-query'
    list nameserver 'https://dns.sb/dns-query'
    list fake_ip_include_domains '+.test'
    list fake_ip_exclude_domains '+.lan'
    list fake_ip_exclude_domains '+.local'
    list fake_ip_exclude_domains '+.localdomain'
    list fake_ip_exclude_domains '+.internal'
    list fake_ip_exclude_domains '+.home'
    list fake_ip_exclude_domains '+.home.arpa'
    list fake_ip_exclude_domains '+.in-addr.arpa'
    list fake_ip_exclude_domains '+.localhost'
    list fake_ip_exclude_domains '+.invalid'
    list fake_ip_exclude_domains '+.msftconnecttest.com'
    list fake_ip_exclude_domains '+.3gppnetwork.org'
    list fake_ip_exclude_domains '+.miwifi.com'
    list fake_ip_exclude_domains '+.mi.com'
    list fake_ip_exclude_domains '+.mwlogin.net'
    list fake_ip_exclude_domains '+.tendawifi.com'
    list fake_ip_exclude_domains '+.linksyssmartwifi.com'
    list fake_ip_exclude_domains '+.tplinkwifi.net'
    list fake_ip_exclude_domains '+.tplinklogin.net'
    list fake_ip_exclude_domains '+.tplinkrepeater.net'
    list fake_ip_exclude_domains '+.router.asus.com'
    list fake_ip_exclude_domains '+.asusrouter.com'
    list fake_ip_exclude_domains '+.routerlogin.com'
    list fake_ip_exclude_domains '+.routerlogin.net'
    list fake_ip_exclude_domains '+.router.synology.com'
    list fake_ip_exclude_domains '+.keenetic.net'
    list fake_ip_exclude_domains '+.mercusyslogin.com'
    list fake_ip_exclude_domains '+.huaweimobilewifi.com'
    list fake_ip_exclude_domains '+.dlinkrouter.com'
    list fake_ip_exclude_domains '+.itotolink.net'
    list fake_ip_exclude_domains '+.unifi'
    list fake_ip_exclude_domains '+.github.com'
    list fake_ip_exclude_domains '+.github.io'
    list fake_ip_exclude_domains '+.githubusercontent.com'
    list fake_ip_exclude_domains '+.pool.ntp.org'
    list fake_ip_exclude_domains 'ntp.ix.ru'
    list fake_ip_exclude_domains 'ntp.ubuntu.com'
    list fake_ip_exclude_domains 'time.windows.com'
    list fake_ip_exclude_domains 'time.nist.gov'
    list fake_ip_exclude_domains 'time.apple.com'
    list fake_ip_exclude_domains 'time.asia.apple.com'
    list fake_ip_exclude_domains 'time1.apple.com'
    list fake_ip_exclude_domains 'time2.apple.com'
    list fake_ip_exclude_domains 'time3.apple.com'
    list fake_ip_exclude_domains 'time4.apple.com'
    list fake_ip_exclude_domains 'time5.apple.com'
    list fake_ip_exclude_domains 'time6.apple.com'
    list fake_ip_exclude_domains 'time7.apple.com'
    list fake_ip_exclude_domains 'time1.google.com'
    list fake_ip_exclude_domains 'time2.google.com'
    list fake_ip_exclude_domains 'time3.google.com'
    list fake_ip_exclude_domains 'time4.google.com'
    list fake_ip_exclude_domains '+.time.google.com'
    list fake_ip_exclude_domains '+.time.cloudflare.com'
    list fake_ip_exclude_domains '+.ntp.yandex.ru'
    list fake_ip_exclude_domains '+.ru.pool.ntp.org'
    list fake_ip_exclude_domains '+.europe.pool.ntp.org'
    list fake_ip_exclude_domains '+.stun.l.google.com'
    list fake_ip_exclude_domains '+.stun1.l.google.com'
    list fake_ip_exclude_domains '+.stun2.l.google.com'
    list fake_ip_exclude_domains '+.stun3.l.google.com'
    list fake_ip_exclude_domains '+.stun4.l.google.com'
    list fake_ip_exclude_domains '+.stun.google.com'
    list fake_ip_exclude_domains '+.stun.xs.apple.com'
    list fake_ip_exclude_domains '+.stun.itools.info'
    list fake_ip_exclude_domains '+.stun.playstation.net'
    list fake_ip_exclude_domains '+.stun.l.playstation.net'
    list fake_ip_exclude_domains '+.stun.xboxlive.com'
    list fake_ip_exclude_domains '+.xboxlive.com'
    list fake_ip_exclude_domains '+.teredo.ipv6.microsoft.com'
    list fake_ip_exclude_domains '+.stun.t.ring.nintendo.net'
    list fake_ip_exclude_domains '+.stun.playnet.aws.nintendo.com'
    list fake_ip_exclude_domains '+.stun.discord.media'
    list fake_ip_exclude_domains '+.stun.services.mozilla.com'
    list fake_ip_exclude_domains '+.stun.mozilla.org'
    list fake_ip_exclude_domains '+.stun.ekiga.net'
    list fake_ip_exclude_domains '+.openwrt.org'
    list fake_ip_exclude_domains '+.cudy.net'
    list fake_ip_exclude_domains '+.connectivitycheck.gstatic.com'
    list fake_ip_exclude_domains '+.connectivitycheck.android.com'
    list fake_ip_exclude_domains '+.connectivity-check.ubuntu.com'
    list fake_ip_exclude_domains '+.conncheck.opensuse.org'
    list fake_ip_exclude_domains '+.nmcheck.gnome.org'
    list fake_ip_exclude_domains '+.connect.rom.miui.com'
    list fake_ip_exclude_domains '+.msftncsi.com'
    list fake_ip_exclude_domains '+.captive.apple.com'
    list fake_ip_exclude_domains '+.connectivitycheck.gpg.apple.com'
    list fake_ip_exclude_domains '+.detectportal.firefox.com'
    list fake_ip_exclude_domains '+.connectivitycheck.platform.hicloud.com'
    list fake_ip_exclude_domains '+.nintendowifi.net'
    list fake_ip_exclude_domains '+.fedoraproject.org'
    list fake_ip_exclude_domains 'ping.archlinux.org'
    list fake_ip_exclude_domains '+.samsungotn.net'
    list fake_ip_exclude_domains '+.samsungasp.com'
    list fake_ip_exclude_domains '+.lgtvonline.lge.com'
    option sniffer_parse_pure_ip '1'
    option sniffer_enable '1'
    list sniffer_exclude_domain '+.lan'
    list sniffer_exclude_domain '+.local'
    list sniffer_exclude_domain '+.localdomain'
    list sniffer_exclude_domain '+.internal'
    list sniffer_exclude_domain '+.home'
    list sniffer_exclude_domain '+.home.arpa'
    list sniffer_exclude_domain '+.in-addr.arpa'
    list sniffer_exclude_domain '+.localhost'
    list sniffer_exclude_domain '+.invalid'
    list sniffer_exclude_domain '+.msftconnecttest.com'
    list sniffer_exclude_domain '+.3gppnetwork.org'
    list sniffer_exclude_domain '+.miwifi.com'
    list sniffer_exclude_domain '+.mi.com'
    list sniffer_exclude_domain '+.mwlogin.net'
    list sniffer_exclude_domain '+.tendawifi.com'
    list sniffer_exclude_domain '+.linksyssmartwifi.com'
    list sniffer_exclude_domain '+.tplinkwifi.net'
    list sniffer_exclude_domain '+.tplinklogin.net'
    list sniffer_exclude_domain '+.tplinkrepeater.net'
    list sniffer_exclude_domain '+.router.asus.com'
    list sniffer_exclude_domain '+.asusrouter.com'
    list sniffer_exclude_domain '+.routerlogin.com'
    list sniffer_exclude_domain '+.routerlogin.net'
    list sniffer_exclude_domain '+.router.synology.com'
    list sniffer_exclude_domain '+.keenetic.net'
    list sniffer_exclude_domain '+.mercusyslogin.com'
    list sniffer_exclude_domain '+.huaweimobilewifi.com'
    list sniffer_exclude_domain '+.dlinkrouter.com'
    list sniffer_exclude_domain '+.itotolink.net'
    list sniffer_exclude_domain '+.unifi'
    list sniffer_exclude_domain '+.pool.ntp.org'
    list sniffer_exclude_domain '+.time.google.com'
    list sniffer_exclude_domain '+.time.cloudflare.com'
    list sniffer_exclude_domain '+.ntp.yandex.ru'
    list sniffer_exclude_domain '+.ru.pool.ntp.org'
    list sniffer_exclude_domain '+.europe.pool.ntp.org'
    list sniffer_exclude_domain '+.stun.l.google.com'
    list sniffer_exclude_domain '+.stun1.l.google.com'
    list sniffer_exclude_domain '+.stun2.l.google.com'
    list sniffer_exclude_domain '+.stun3.l.google.com'
    list sniffer_exclude_domain '+.stun4.l.google.com'
    list sniffer_exclude_domain '+.stun.google.com'
    list sniffer_exclude_domain '+.stun.xs.apple.com'
    list sniffer_exclude_domain '+.stun.itools.info'
    list sniffer_exclude_domain '+.stun.playstation.net'
    list sniffer_exclude_domain '+.stun.l.playstation.net'
    list sniffer_exclude_domain '+.stun.xboxlive.com'
    list sniffer_exclude_domain '+.xboxlive.com'
    list sniffer_exclude_domain '+.teredo.ipv6.microsoft.com'
    list sniffer_exclude_domain '+.stun.t.ring.nintendo.net'
    list sniffer_exclude_domain '+.stun.playnet.aws.nintendo.com'
    list sniffer_exclude_domain '+.stun.discord.media'
    list sniffer_exclude_domain '+.stun.services.mozilla.com'
    list sniffer_exclude_domain '+.stun.mozilla.org'
    list sniffer_exclude_domain '+.stun.ekiga.net'
    list sniffer_exclude_domain '+.cudy.net'
    list sniffer_exclude_domain '+.connectivitycheck.gstatic.com'
    list sniffer_exclude_domain '+.connectivitycheck.android.com'
    list sniffer_exclude_domain '+.connectivity-check.ubuntu.com'
    list sniffer_exclude_domain '+.nmcheck.gnome.org'
    list sniffer_exclude_domain '+.conncheck.opensuse.org'
    list sniffer_exclude_domain '+.connect.rom.miui.com'
    list sniffer_exclude_domain '+.msftncsi.com'
    list sniffer_exclude_domain '+.captive.apple.com'
    list sniffer_exclude_domain '+.connectivitycheck.gpg.apple.com'
    list sniffer_exclude_domain '+.detectportal.firefox.com'
    list sniffer_exclude_domain '+.connectivitycheck.platform.hicloud.com'
    list sniffer_exclude_domain '+.nintendowifi.net'
    list sniffer_exclude_domain '+.fedoraproject.org'
    list sniffer_exclude_domain 'ping.archlinux.org'
    list sniffer_exclude_domain '+.samsungotn.net'
    list sniffer_exclude_domain '+.samsungasp.com'
    list sniffer_exclude_domain '+.lgtvonline.lge.com'
    list sniffer_exclude_domain '+.cbr.ru'
    list sniffer_exclude_domain '+.fsb.ru'
    list sniffer_exclude_domain '+.fsrar.ru'
    list sniffer_exclude_domain '+.gosuslugi.ru'
    list sniffer_exclude_domain '+.emias.info'
    list sniffer_exclude_domain '+.gov.ru'
    list sniffer_exclude_domain '+.gu-st.ru'
    list sniffer_exclude_domain '+.kremlin.ru'
    list sniffer_exclude_domain '+.mos.ru'
    list sniffer_exclude_domain '+.mosreg.ru'
    list sniffer_exclude_domain '+.nalog.ru'
    list sniffer_exclude_domain '+.mironline.ru'
    list sniffer_exclude_domain '+.nspk.ru'
    list sniffer_exclude_domain '+.arbitr.ru'
    list sniffer_exclude_domain '+.goskey.ru'
    list sniffer_exclude_domain '+.rosreestr.ru'
    list sniffer_exclude_domain '+.sfr.ru'
    list sniffer_exclude_domain '+.sudrf.ru'
    list sniffer_exclude_domain '+.egais.ru'
    list sniffer_exclude_domain '+.crpt.ru'
    list sniffer_exclude_domain '+.crpt.tech'
    list sniffer_exclude_domain '+.vetrf.ru'
    list sniffer_exclude_domain '+.sbp.ru'
    list sniffer_exclude_domain '+.ts.polaris-iot.com'
    list sniffer_exclude_domain '+.platformaofd.ru'
    list sniffer_exclude_domain '+.1ofd.ru'
    list sniffer_exclude_domain '+.taxcom.ru'
    list sniffer_exclude_domain '+.ofd.ru'
    list sniffer_exclude_domain '+.astralofd.ru'
    list sniffer_exclude_domain '+.konturofd.ru'
    list sniffer_exclude_domain '+.dreamkas.ru'
    list sniffer_exclude_domain '+.e-portal.ru'

config block_rules 'block_rules'
    option enabled '1'

config direct_rules 'direct_rules'
    option enabled '1'

config mixed_port_rules 'mixed_port_rules'
    option exit_rule 'BY RULES'

config final_rules 'final_rules'
    option exit_rule 'DIRECT'
