config main 'settings'
    option delayed_boot '0'
    option delayed_boot_value '10'
    option skip_environment_checks '0'
    option mihomo_persistent_temp_files '0'
    option ntpd_start '0'
    option dnsmasq_apply_changes '1'
    option nft_apply_changes '1'
    option nft_apply_changes_router '1'
    option nft_quic_mode 'DROP'
    option nft_dot_mode 'BY RULES'
    option nft_dot_quic_mode 'BY RULES'
    option nft_ntp_mode 'BY RULES'
    option nft_ntp_mode_router 'DIRECT'
    option tproxy_input_interfaces 'br-lan'
    option mihomo_autoupdate 'no'
    option mihomo_autorestart '0'
    option mihomo_cron_autorestart_string '0 5 * * 0'
    option mihomo_cron_update_string '0 5 * * 0'

config proxy 'proxy'
    option controller_bind_interface 'lan'
    option use_zashboard '0'
    option api_password 'abcdefghijklmnopqrstuvwxyz1234567890'
    option log_level 'error'
    option tproxy_port '7893'
    option use_mixed_port '0'
    option mixed_port '7892'
    option unified_delay '1'
    option tcp_concurrent '1'
    option global_client_fingerprint 'random'
    option global_ua 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36'
    option etag_support '1'
    option keep_alive_idle '15'
    option keep_alive_interval '15'
    option profile_store_selected '1'
    option profile_store_fake_ip '1'
    option core_ntp_enabled '1'
    option core_ntp_server '194.190.168.1'
    option core_ntp_port '123'
    option core_ntp_interval '60'
    option core_ntp_write_system '1'
    option dns_listen_port '7894'
    option dns_cache_max_size '2048'
    option use_system_hosts '0'
    option fake_ip_filter_mode 'whitelist'
    option fake_ip_range '198.18.0.1/18'
    option fake_ip_ttl '1'
    list default_nameserver '1.1.1.1'
    list default_nameserver '8.8.8.8'
    list default_nameserver '9.9.9.9'
    list direct_nameserver 'https://common.dot.dns.yandex.net/dns-query'
    list direct_nameserver '77.88.8.8'
    list proxy_server_nameserver 'https://dns.google/dns-query'
    list proxy_server_nameserver 'https://1.1.1.1/dns-query'
    list proxy_server_nameserver 'https://freedns.controld.com/p0'
    list nameserver 'https://dns.google/dns-query'
    list nameserver 'https://1.1.1.1/dns-query'
    list nameserver 'https://freedns.controld.com/p0'
    list fake_ip_include_domains '+.test'
    list fake_ip_exclude_domains '+.lan'
    list fake_ip_exclude_domains '+.local'
    list fake_ip_exclude_domains '+.localdomain'
    list fake_ip_exclude_domains '+.internal'
    list fake_ip_exclude_domains '+.home'
    list fake_ip_exclude_domains '+.home.arpa'
    list fake_ip_exclude_domains '+.in-addr.arpa'
    list fake_ip_exclude_domains '+.msftconnecttest.com'
    list fake_ip_exclude_domains '+.3gppnetwork.org'
    list fake_ip_exclude_domains '+.miwifi.com'
    list fake_ip_exclude_domains '+.mi.com'
    list fake_ip_exclude_domains '+.miwifi.com'
    list fake_ip_exclude_domains '+.tplinkwifi.net'
    list fake_ip_exclude_domains '+.tplinkrepeater.net'
    list fake_ip_exclude_domains '+.router.asus.com'
    list fake_ip_exclude_domains '+.routerlogin.com'
    list fake_ip_exclude_domains '+.routerlogin.net'
    list fake_ip_exclude_domains '+.github.com'
    list fake_ip_exclude_domains '+.github.io'
    list fake_ip_exclude_domains '+.githubusercontent.com'
    list fake_ip_exclude_domains '+.pool.ntp.org'
    list fake_ip_exclude_domains 'ntp.ix.ru'
    list fake_ip_exclude_domains 'ntp.ubuntu.com'
    list fake_ip_exclude_domains 'time.windows.com'
    list fake_ip_exclude_domains 'time.nist.gov'
    list fake_ip_exclude_domains 'time.apple.com'
    list fake_ip_exclude_domains 'time.asia.apple.com'
    list fake_ip_exclude_domains 'time1.apple.com'
    list fake_ip_exclude_domains 'time2.apple.com'
    list fake_ip_exclude_domains 'time3.apple.com'
    list fake_ip_exclude_domains 'time4.apple.com'
    list fake_ip_exclude_domains 'time5.apple.com'
    list fake_ip_exclude_domains 'time6.apple.com'
    list fake_ip_exclude_domains 'time7.apple.com'
    list fake_ip_exclude_domains 'time1.google.com'
    list fake_ip_exclude_domains 'time2.google.com'
    list fake_ip_exclude_domains 'time3.google.com'
    list fake_ip_exclude_domains 'time4.google.com'
    list fake_ip_exclude_domains '+.openwrt.org'
    list fake_ip_exclude_domains '+.cudy.net'
    list fake_ip_exclude_domains '+.connectivitycheck.gstatic.com'
    list fake_ip_exclude_domains '+.connectivitycheck.android.com'
    list fake_ip_exclude_domains '+.connectivity-check.ubuntu.com'
    list fake_ip_exclude_domains '+.conncheck.opensuse.org'
    list fake_ip_exclude_domains '+.nmcheck.gnome.org'
    list fake_ip_exclude_domains '+.connect.rom.miui.com'
    list fake_ip_exclude_domains '+.msftncsi.com'
    list fake_ip_exclude_domains '+.megafon.ru'
    list fake_ip_exclude_domains '+.beeline.ru'
    list fake_ip_exclude_domains '+.mts.ru'
    list fake_ip_exclude_domains '+.t2.ru'
    list fake_ip_exclude_domains '+.yota.ru'
    option sniffer_parse_pure_ip '1'
    option sniffer_enable '1'
    list sniffer_exclude_domain '+.lan'
    list sniffer_exclude_domain '+.local'
    list sniffer_exclude_domain '+.localdomain'
    list sniffer_exclude_domain '+.home'
    list sniffer_exclude_domain '+.home.arpa'
    list sniffer_exclude_domain '+.in-addr.arpa'
    list sniffer_exclude_domain '+.msftconnecttest.com'
    list sniffer_exclude_domain '+.3gppnetwork.org'
    list sniffer_exclude_domain '+.miwifi.com'
    list sniffer_exclude_domain '+.mi.com'
    list sniffer_exclude_domain '+.miwifi.com'
    list sniffer_exclude_domain '+.tplinkwifi.net'
    list sniffer_exclude_domain '+.tplinkrepeater.net'
    list sniffer_exclude_domain '+.router.asus.com'
    list sniffer_exclude_domain '+.routerlogin.com'
    list sniffer_exclude_domain '+.routerlogin.net'
    list sniffer_exclude_domain '+.ntp.pool.org'
    list sniffer_exclude_domain '+.cudy.net'
    list sniffer_exclude_domain '+.connectivitycheck.gstatic.com'
    list sniffer_exclude_domain '+.connectivitycheck.android.com'
    list sniffer_exclude_domain '+.connectivity-check.ubuntu.com'
    list sniffer_exclude_domain '+.nmcheck.gnome.org'
    list sniffer_exclude_domain '+.conncheck.opensuse.org'
    list sniffer_exclude_domain '+.connect.rom.miui.com'
    list sniffer_exclude_domain '+.msftncsi.com'
    list sniffer_exclude_domain '+.megafon.ru'
    list sniffer_exclude_domain '+.beeline.ru'
    list sniffer_exclude_domain '+.mts.ru'
    list sniffer_exclude_domain '+.t2.ru'
    list sniffer_exclude_domain '+.yota.ru'

config block_rules 'block_rules'

config direct_rules 'direct_rules'

config mixed_port_rules 'mixed_port_rules'
    option exit_rule 'BY RULES'

config final_rules 'final_rules'
    option exit_rule 'DIRECT'
