config main 'settings'
    option delayed_boot '0'
    option delayed_boot_value '10'
    option skip_environment_checks '0'
    option mihomo_persistent_temp_files '0'
    option ntpd_start '0'
    option dnsmasq_apply_changes '1'
    option nft_apply_changes '1'
    option nft_apply_changes_router '0'
    option nft_quic_mode 'BY RULES'
    option nft_dot_mode 'BY RULES'
    option nft_dot_quic_mode 'BY RULES'
    option nft_ntp_mode 'BY RULES'
    option nft_ntp_mode_router 'DIRECT'
    option tproxy_input_interfaces 'br-lan'
    option mihomo_autoupdate 'no'
    option mihomo_autorestart '0'
    option mihomo_cron_autorestart_string '0 3 * * 0'
    option mihomo_cron_update_string '0 3 * * 0'

config proxy 'proxy'
    option use_zashboard '0'
    option log_level 'error'
    option tproxy_port '7893'
    option use_mixed_port '0'
    option mixed_port '7892'
    option unified_delay '1'
    option tcp_concurrent '1'
    option global_client_fingerprint 'chrome'
    option global_ua 'Mozilla/5.0 (X11; Linux x86_64; rv:125.0) Gecko/20100101 Firefox/125.0'
    option etag_support '1'
    option keep_alive_idle '15'
    option keep_alive_interval '15'
    option profile_store_selected '1'
    option profile_store_fake_ip '1'
    option core_ntp_enabled '1'
    option core_ntp_server '0.ru.pool.ntp.org'
    option core_ntp_port '123'
    option core_ntp_interval '60'
    option core_ntp_write_system '1'
    option dns_listen_port '7894'
    option dns_cache_max_size '2048'
    option use_system_hosts '1'
    option fake_ip_filter_mode 'blacklist'
    option fake_ip_range '198.18.0.1/22'
    list default_nameserver '8.8.8.8'
    list default_nameserver '8.8.4.4'
    list default_nameserver '76.76.2.0'
    list default_nameserver '76.76.10.0'
    list direct_nameserver 'https://common.dot.dns.yandex.net/dns-query'
    list direct_nameserver 'tls://common.dot.dns.yandex.net'
    list direct_nameserver '77.88.8.8'
    list direct_nameserver '77.88.4.4'
    list proxy_server_nameserver 'https://dns.google/dns-query'
    list proxy_server_nameserver 'https://dns.quad9.net/dns-query'
    list proxy_server_nameserver 'https://freedns.controld.com/p0'
    list proxy_server_nameserver 'tls://dns.google'
    list proxy_server_nameserver 'tls://dns.quad9.net'
    list proxy_server_nameserver 'tls://p0.freedns.controld.com'
    list nameserver 'https://dns.google/dns-query'
    list nameserver 'https://dns.quad9.net/dns-query'
    list nameserver 'https://freedns.controld.com/p0'
    list nameserver 'tls://dns.google'
    list nameserver 'tls://dns.quad9.net'
    list nameserver 'tls://p0.freedns.controld.com'
    list fake_ip_include_domains '+.test'
    list fake_ip_exclude_domains '+.lan'
    list fake_ip_exclude_domains '+.local'
    list fake_ip_exclude_domains '+.localdomain'
    list fake_ip_exclude_domains '+.home'
    list fake_ip_exclude_domains '+.home.arpa'
    list fake_ip_exclude_domains '+.in-addr.arpa'
    list fake_ip_exclude_domains '+.msftconnecttest.com'
    list fake_ip_exclude_domains '+.3gppnetwork.org'
    list fake_ip_exclude_domains '+.miwifi.com'
    list fake_ip_exclude_domains '+.mi.com'
    list fake_ip_exclude_domains '+.miwifi.com'
    list fake_ip_exclude_domains '+.tplinkwifi.net'
    list fake_ip_exclude_domains '+.tplinkrepeater.net'
    list fake_ip_exclude_domains '+.routerlogin.com'
    list fake_ip_exclude_domains '+.routerlogin.net'
    list fake_ip_exclude_domains '+.github.com'
    list fake_ip_exclude_domains '+.github.io'
    list fake_ip_exclude_domains '+.githubusercontent.com'
    list fake_ip_exclude_domains '+.ntp.pool.org'
    list fake_ip_exclude_domains '+.openwrt.org'
    list fake_ip_exclude_domains '+.cudy.net'
    option sniffer_parse_pure_ip '1'
    option sniffer_enable '1'
    list sniffer_exclude_domain '+.lan'
    list sniffer_exclude_domain '+.local'
    list sniffer_exclude_domain '+.localdomain'
    list sniffer_exclude_domain '+.home'
    list sniffer_exclude_domain '+.home.arpa'
    list sniffer_exclude_domain '+.in-addr.arpa'
    list sniffer_exclude_domain '+.msftconnecttest.com'
    list sniffer_exclude_domain '+.3gppnetwork.org'
    list sniffer_exclude_domain '+.miwifi.com'
    list sniffer_exclude_domain '+.mi.com'
    list sniffer_exclude_domain '+.miwifi.com'
    list sniffer_exclude_domain '+.tplinkwifi.net'
    list sniffer_exclude_domain '+.tplinkrepeater.net'
    list sniffer_exclude_domain '+.routerlogin.com'
    list sniffer_exclude_domain '+.routerlogin.net'
    list sniffer_exclude_domain '+.ntp.pool.org'
    list sniffer_exclude_domain '+.cudy.net'

config block_rules 'block_rules'

config direct_rules 'direct_rules'

config mixed_port_rules 'mixed_port_rules'
    option exit_rule 'BY RULES'

config final_rules 'final_rules'
    option exit_rule 'DIRECT'
