config main 'settings'
    option delayed_boot '0'
    option delayed_boot_value '10'
    option skip_environment_checks '0'
    option mihomo_persistent_temp_files '0'
    option ntpd_start '1'
    option dnsmasq_apply_changes '1'
    option nft_apply_changes '1'
    option nft_block_quic '1'
    option nft_block_dot '0'
    option nft_block_dot_quic '1'
    option nft_block_ntp '0'
    option tproxy_input_interfaces 'br-lan'
    option tproxy_excluded_ips ''
    option mihomo_update_channel 'alpha'
    option mihomo_autoupdate 'no'
    option mihomo_autorestart '0'
    option mihomo_cron_autorestart_telegram_notify '0'
    option mihomo_cron_update_telegram_notify '0'
    option mihomo_cron_autorestart_string '0 3 * * 0'
    option mihomo_cron_update_string '0 3 * * 0'
    option telegram_chat_id ''
    option telegram_bot_token ''

config proxy 'proxy'
    option log_level 'error'
    option tproxy_port '7893'
    option unified_delay '1'
    option tcp_concurrent '1'
    option external_controller_port '9090'
    option global_client_fingerprint 'chrome'
    option global_ua 'Mozilla/5.0 (X11; Linux x86_64; rv:125.0) Gecko/20100101 Firefox/125.0'
    option etag_support '1'
    option keep_alive_idle '45'
    option keep_alive_interval '45'
    option profile_store_selected '1'
    option profile_store_fake_ip '1'
    option core_ntp_enabled '1'
    option core_ntp_server '216.239.35.0'
    option core_ntp_port '123'
    option core_ntp_interval '60'
    option core_ntp_write_system '0'
    option dns_listen_port '7894'
    option dns_cache_max_size '1024'
    option use_hosts '0'
    option use_system_hosts '1'
    option fake_ip_filter_mode 'blacklist'
    option fake_ip_range '198.18.0.1/22'
    list default_nameserver '8.8.8.8'
    list default_nameserver '8.8.4.4'
    list default_nameserver '76.76.2.0'
    list default_nameserver '76.76.10.0'
    list direct_nameserver 'https://common.dot.dns.yandex.net/dns-query'
    list direct_nameserver 'tls://common.dot.dns.yandex.net'
    list proxy_server_nameserver 'https://dns.google/dns-query'
    list proxy_server_nameserver 'https://dns.quad9.net/dns-query'
    list proxy_server_nameserver 'https://freedns.controld.com/p0'
    list proxy_server_nameserver 'tls://dns.google'
    list proxy_server_nameserver 'tls://dns.quad9.net'
    list proxy_server_nameserver 'tls://p0.freedns.controld.com'
    list nameserver 'https://dns.google/dns-query'
    list nameserver 'https://dns.quad9.net/dns-query'
    list nameserver 'https://freedns.controld.com/p0'
    list nameserver 'tls://dns.google'
    list nameserver 'tls://dns.quad9.net'
    list nameserver 'tls://p0.freedns.controld.com'
    list custom_fake_ip_domains '+.test'
    list ignore_fake_ip_domains '+.lan'
    list ignore_fake_ip_domains '+.local'
    list ignore_fake_ip_domains '+.localdomain'
    list ignore_fake_ip_domains '+.home'
    list ignore_fake_ip_domains '+.home.arpa'
    list ignore_fake_ip_domains '+.in-addr.arpa'
    list ignore_fake_ip_domains '+.msftconnecttest.com'
    list ignore_fake_ip_domains '+.3gppnetwork.org'
    list ignore_fake_ip_domains '+.miwifi.com'
    list ignore_fake_ip_domains '+.mi.com'
    list ignore_fake_ip_domains '+.miwifi.com'
    list ignore_fake_ip_domains '+.tplinkwifi.net'
    list ignore_fake_ip_domains '+.tplinkrepeater.net'
    list ignore_fake_ip_domains '+.routerlogin.com'
    list ignore_fake_ip_domains '+.routerlogin.net'
    list ignore_fake_ip_domains '+.github.com'
    list ignore_fake_ip_domains '+.github.io'
    list ignore_fake_ip_domains '+.githubusercontent.com'
    list ignore_fake_ip_domains '+.ntp.pool.org'
    list ignore_fake_ip_domains '+.openwrt.org'
    list ignore_to_sniff_domains '+.lan'
    list ignore_to_sniff_domains '+.local'
    list ignore_to_sniff_domains '+.localdomain'
    list ignore_to_sniff_domains '+.home'
    list ignore_to_sniff_domains '+.home.arpa'
    list ignore_to_sniff_domains '+.in-addr.arpa'
    list ignore_to_sniff_domains '+.msftconnecttest.com'
    list ignore_to_sniff_domains '+.3gppnetwork.org'
    list ignore_to_sniff_domains '+.miwifi.com'
    list ignore_to_sniff_domains '+.mi.com'
    list ignore_to_sniff_domains '+.tplinkwifi.net'
    list ignore_to_sniff_domains '+.tplinkrepeater.net'
    list ignore_to_sniff_domains '+.routerlogin.com'
    list ignore_to_sniff_domains '+.routerlogin.net'
    list ignore_to_sniff_domains '+.ntp.pool.org'


config block_rules 'block_rules'

config direct_rules 'direct_rules'
    option list_update_interval '86500'
    list enabled_list ''

config final_rules 'final_rules'
    option final_destination 'DIRECT'
